<!DOCTYPE HTML>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Kevin Ngetich | {% block title %}{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './style1.css' %}"-->

</head>
<body style="font-size: 1.8em;">
    <script src="{% static './js/boostrap.js' %}"></script>
    <script src="{% static './js/boostrap.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="container-fluid" style="font-size: 80%;">
        <nav class="navbar navbar-default bg-dark navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> <strong>Showcase</strong> </a>
            </div>
            <div class="collapse navbar-collapse" id=#navigation>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="nav-link" href="{% url 'article:feed' %}"><strong>Feed</strong></a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input class="form-control mr-sm-2" type="text" name="q" value="" placeholder="Search">
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="nav-pill"><strong>{{ user.username }}</strong></a>
                        </li>
                        <LI>
                            <a class="nav-link" href="{% url 'logout' %}"><strong>Log Out </strong>&nbsp;
                            <span class="glyphicon glyphicon-off"></span></a>
                        </LI>
                        &nbsp;
                        &nbsp;
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="nav-link" href="{% url 'social:begin' 'github' %}"><strong>Log in with GitHub</strong></a>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </nav>
    </div>
    <div class="container-fluid" style="font-size: 90%;">
        <div class="row" style="margin-top: 70px;">
            <div class="col-lg-3">
                <br>
                <img class="img-fluid" src="/media/python1.png" alt="Author's Image" style="height: 200px; display: block; margin-left: auto; margin-right: auto">

            </div>
            {% block content %}
            {% endblock %}
            <div class="col-lg-3">

                <div class="card card-default" style="background: 	#F8F8F8;">
                    <div class="card-body" style="padding-bottom: 2px;">
                      <h2 class="card-title" style="text-align: center;"><strong> Featured </strong></h2>
                    </div>
                </div>
                <br>
                <div class="card card-default" style="">

                    <div class="card-body" style="padding-top: 15px;">

                        <h4 class="card-text"> <img src="/media/access-blur-close-up-1181271.jpg" style="height: 60px; width: 60px;" > &nbsp; Something About... </h4>
                        <hr>
                        <h4 class="card-text"> <img src="/media/blur-code-coding-270408.jpg" style="height: 60px; width: 60px;"> &nbsp; Django vs Laravel </h4>
                        <hr>
                        <h4 class="card-text"> <img src="/media/backlit-blogging-coding-34153.jpg" style="height: 60px; width: 60px;"> &nbsp; My Python Journey </h4>
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>